body {
    height: calc(100vh - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}